h1{
  text-align: center;
  margin-top: 7%;
  font-family: 'Lora', serif;
}
.container {
  width: 85%;
  margin: 5% 17% 17% 17%;
}

.big {
  padding: 3px;
  font-family: 'Lora', serif;
  font-size: 1.0em;
  margin: 0;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 8px 0 #FEF5CA, 0 15px 20px rgba(0, 0, 0, .35);
}
/*.row-1 {
  width: 20%%;
}

.row-2 {
  width: 20%;
}

.row-3 {
  width: 20%;
}
*/
.big {
  height: 200px;
  width: 200px;
}
